@charset 'UTF-8';
@use "../../inc/" as inc;
/*
sonmin
-----------------------------------------------------*/
.-sonmin-bg {
	background: #FAF0E7;
	.c-border-t {
		border-color: inc.$base-color;
	}
	.c-list-dl {
		border-color: inc.$base-color;
		dt,
		dd {
			border-color: inc.$base-color;
		}
	}
	.c-bg-yellow {
		background: transparent;
	}
	.l-contents-block__wrap {
		padding-top: 0 !important;
	}
	.c-bg-border {
		border: 1px solid inc.$base-color;
	}
}

.sonmin.p-kv__logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	h1 {
		max-width: 370px;
		@include inc.sizing(margin-bottom, full, 60px, sp, 32px);
	}
	.c-button-block.-arrow::before {
		transform: rotate(135deg);
	}
}
.sonmin.p-kv__lead {
	position: relative;
	color: inc.$base-color;
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(25,34,3,1) 20%, rgba(25,34,3,1) 100%);
	@include inc.mq(lap) {
		background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(25,34,3,1) 20%, rgba(25,34,3,1) 100%);
	}
	&::after {
		content: "";
		display: block;
		//width: 145px;
		aspect-ratio: 223 / 303;
		//height: 165px;
		@include inc.sizing(width, full, 223px, sp, 80px);
		background: url();
		background: url(../img/sonmin/risu.png) no-repeat center center/contain;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0%);
		margin-left: 36vw;
		bottom: -2vw;
	}
	.l-container--primary {
		height: 80vh;
		@include inc.mq(lap) {
			height: 90vh;
		}
		.p-kv__lead__inner {
			padding-top: 7vw;
			@include inc.mq(lap) {
				padding-top: 3vw;
			}
		}
	}
}

.p-sonmin {
	&__news {
		.l-container--primary {
			@include inc.mq(lap) {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
		}
		h2 {
			@include inc.sizing(font-size, full, 24px, sp, 17px);
			margin-bottom: 1.5em;
			@include inc.mq(lap) {
				width: 29.365%;
				margin-bottom: 0;
			}
		}
		.newsR {
			@include inc.mq(lap) {
				width: 68.25%;
				margin-top: .4em;
			}
		}
		.news_txt{
			width: 100%;
			//margin-top: .4em;
		}
		ul {
			@include inc.mq(lap) {
				//width: 68.25%;
				width: 100%;
				//margin-top: .4em;
			}
			li {
				position: relative;
				padding-left: 1.2em;
				line-height: 1.6;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: 1em;
					height: 1em;
					content: "＊";
				}
				&:not(:last-child) {
					margin-bottom: .5em;
				}
				& + li {
					margin-top: .6rem;
				}
			}
		}
		.news_txt + ul {
			margin-top: 1.5rem;
			@include inc.mq(lap) {
				margin-top: 2rem;
			}
		}
	}
	&__pickup {
		// border-top: 1px solid inc.$base-color;
		.-w-1_3 {
			@include inc.mq(lap) {
				width: 40%;
			}
		}
		h2 {
			@include inc.sizing(font-size, full, 24px, sp, 16px);
			span {
				color: inc.$main-text-color;
				@include inc.sizing(font-size, full, 16px, sp, 12px);
			}
		}
	}
	&__lnk {
		text-align: center;
		@include inc.sizing(margin-top, full, 124px, sp, 50px);
	}
	&__faq {
		//background: #8C8C8C;
		position: relative;
		background: rgba(60,60,60,.6);
		.p-faq-list {
			background-color: inc.$base-color;
		}
		h2 {
			color: inc.$base-color;
			span {
				color: inc.$base-color;
			}
		}
		&::before {
			content: "";
			display: block;
			aspect-ratio: 224 / 305;
			@include inc.sizing(width, full, 130px, sp, 80px);
			background: url();
			background: url(../img/sonmin/yamaboushi.png) no-repeat center center/contain;
			position: absolute;
			left: -2vw;
			top: -80px;
			@include inc.mq(lap) {
				@include inc.sizing(top, full, -100px, tab, -90px);
			}
		}
	}
}