@charset 'UTF-8';
@use "../../inc/" as inc;
/*
block
-----------------------------------------------------*/
.c-block-conts-center {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__inner {
    width: 100%;
    
   @include inc.mq(lap) {
      width: 66%;
    }
  }
}