@charset 'UTF-8';
@use "../../inc/" as inc;
/*
access
-----------------------------------------------------*/
.p-access {
	&-map {
		width: 100%;
		height: 600px;
		&-btn {
			margin: 1.5rem 0 0 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			gap: 1rem 0.5rem;
			// .-parking {
			// 	display: flex;
			// 	justify-content: center;
			// 	align-items: center;
			// 	text-align: center;
			// 	.icon {
			// 		width: 1em;
			// 		margin-right: 0.7em;
			// 		img {
			// 			display: block;
			// 		}
			// 	}
			// }
		}
	}
	&-search {
		background: url(../img/common/icon-search.svg) no-repeat 0 50%;
		background-size: 28px;
		padding: 0 0 0 3rem;
	}
}

.parent1 {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-content: center;
	height: 380px;
	@include inc.mq(tab) {
		height: auto;
        grid-template-rows: repeat(8, 1fr);
    }
}
.div1-1 { grid-area: 1 / 1 / 3 / 2; }
.div1-2 { grid-area: 1 / 2 / 2 / 3; }
.div1-3 { grid-area: 4 / 1 / 6 / 2; }
.div1-4 { grid-area: 4 / 2 / 5 / 3; }
.div1-5 { grid-area: 7 / 1 / 9 / 2; }
.div1-6 { grid-area: 7 / 2 / 8 / 3; }
.div1-7 { grid-area: 1 / 3 / 9 / 4; }
.div1-1,
.div1-3,
.div1-5,
.div1-7 {
	border: 1px solid black;
	padding: 1.5em 1em;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	@include inc.sizingRem(font-size, full, 20px, sp, 14px);
	line-height: 1.5;
	a.-parking {
		margin-top: 1rem
	}
}
.div1-1 span,
.div1-3 span,
.div1-5 span,
.div1-7 span {
	@include inc.sizingRem(font-size, full, 16px, sp, 12px);
}
.div1-2,
.div1-4,
.div1-6 { border-bottom: 1px solid black; padding: .5em; }

.div1-1,
.div1-3 {
	margin-bottom: 10px;
	@include inc.mq(tab) {
		margin-bottom: 0
	}
}



.parent2 {
text-align: center;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
justify-content: center;
height: 220px;
	@include inc.mq(tab) {
		height: auto;
        grid-template-rows: repeat(5, 1fr);
    }
}
.div2-1 { grid-area: 1 / 1 / 3 / 2; }
.div2-2 { grid-area: 1 / 2 / 2 / 3; }
.div2-3 { grid-area: 4 / 1 / 6 / 2; }
.div2-4 { grid-area: 4 / 2 / 5 / 3; }
.div2-5 { grid-area: 1 / 3 / 6 / 4; }
.div2-1,
.div2-3,
.div2-5 {
	border: 1px solid black;
	padding: 1em;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	@include inc.sizingRem(font-size, full, 20px, sp, 14px);
	line-height: 1.5;
	a.-parking {
		margin-top: 1rem
	}
}
.div2-1 span,
.div2-3 span,
.div2-5 span {
	@include inc.sizingRem(font-size, full, 16px, sp, 12px);
}
.div2-2,
.div2-4 { border-bottom: 1px solid black; padding: .5em; }
.div2-1 {
	margin-bottom: 10px;
	@include inc.mq(tab) {
		margin-bottom: 0
	}
}

.parent3 {
text-align: center;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
justify-content: center;
}
.div3-1 { grid-area: 1 / 1 / 3 / 2; }
.div3-2 { grid-area: 1 / 2 / 2 / 3; }
.div3-3 { grid-area: 1 / 3 / 3 / 4; }
.div3-1,
.div3-3 {
	border: 1px solid black;
	padding: 1em;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	@include inc.sizingRem(font-size, full, 20px, sp, 14px);
	line-height: 1.5;
	a.-parking {
		margin-top: 1rem
	}
}
.div3-1 span,
.div3-3 span {
	@include inc.sizingRem(font-size, full, 16px, sp, 12px);
}
.div3-2 { border-bottom: 1px solid black; padding: .5em; }

.parent4 {
text-align: center;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(8, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
justify-content: center;
height: 260px;
	@include inc.mq(tab) {
		height: auto;
    }
}
.div4-1 { grid-area: 1 / 1 / 9 / 2; }
.div4-2 { grid-area: 3 / 2 / 4 / 3; }
.div4-3 { grid-area: 1 / 3 / 6 / 4; }
.div4-4 { grid-area: 1 / 4 / 2 / 5; }
.div4-5 { grid-area: 4 / 4 / 5 / 5; }
.div4-6 { grid-area: 1 / 5 / 9 / 6; }
.div4-7 { grid-area: 7 / 2 / 8 / 5; }

.div4-1,
.div4-3,
.div4-6 {
	border: 1px solid black;
	padding: 1em;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	@include inc.sizingRem(font-size, full, 20px, sp, 14px);
	line-height: 1.5;
	a.-parking {
		margin-top: 1rem
	}
}
.div4-1 span,
.div4-3 span,
.div4-6 span {
	@include inc.sizingRem(font-size, full, 16px, sp, 12px);
}
.div4-2,
.div4-4,
.div4-5,
.div4-7 { border-bottom: 1px solid black; padding: .5em; }


.noriba-map {
	display: inline-block;
	margin-top: 1.5rem;
}
.-bus-noriba {
	margin-top: 2rem;
	a {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		i {
			width: 60px;
			img {
				width: 100%;
				height: auto;
			}
		}
		div {
			@include inc.sizingRem(font-size, full, 20px, sp, 16px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			span {
				text-decoration: underline;
				text-underline-offset: 3px;
				margin-top: 6px;
				display: block;
				@include inc.sizingRem(font-size, full, 16px, sp, 12px);
				padding-left: 1.3rem;
				position: relative;
				&::before {
					content: "";
					width: 16px;
					height: 16px;
					background: url(../img/common/icon-plus.svg) no-repeat center center / contain;
					position: absolute;
					left: 0;
					top: -1px;
				}
			}
		}
	}
}

.senyou_bus {
	display:flex; flex-direction:column; justify-content:center;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0 3rem;
		a {
			display: block;
			span {
				display: block;
				&::before {
					content: "";
					width: 125px;
					height: 67px;
					margin: 0 auto .8rem;
					display: block;
				}
				&.hoshinoya {
					&::before {
						content: "";
						background: url(../img/hotel/logo_hoshinoya.jpg) no-repeat center center / contain;
					}
				}
				&.hbc {
					&::before {
						content: "";
						background: url(../img/access/logo_hbc.png) no-repeat center center / contain;
					}
				}
			}
		}
	}
}

.-fix {
	padding-left: 6rem;
	position: relative;
	h2.c-title-small {
		position: relative;
		span.tag-b {
			display: block;
			position: absolute;
			left: -6rem;
		}
	}
}