@charset 'UTF-8';
@use "../../inc/" as inc;
/*
faq
-----------------------------------------------------*/
.p-faq-list {
   border-top: 1px solid inc.$theme-color-yellow;
  
  &__item {
    border-bottom: 1px solid inc.$theme-color-yellow;
    transition: background .3s;
    position: relative;
    cursor: pointer;
    
    &::before,
    &::after {
      content: '';
      @include inc.sizing(width, full, 32px, sp, 16px);
      height: 1px;
      position: absolute;
      right: 1em;
      top: 1.6rem;
      margin: auto;
      display: block;
      background: inc.$theme-color-darkyellow;
      transition: transform .3s;
      @include inc.mq(lap) {
        top: 2.6rem;
        right: 1.5rem;
      }
    }
    &::after {
      transform: rotate(90deg);
    }
    
    
    &.-open {
      background: inc.$theme-color-lightyellow;
      &::after {
        transform: rotate(0);
      }
    }
  }
  
  
  &__question {
    @include inc.sizingRem(font-size, full, 16px, sp, 14px);
    padding: 1em 3em;
    position: relative;
    
    @include inc.mq(lap) {
      padding: 2em 5em;
    }
    
    &::before {
      content: 'Q';
      font-size: 1.25em;
      position: absolute;
      left: 1em;
      top: 1em;
      margin: auto;
      line-height: 1;
      @include inc.mq(lap) {
        left: 2em;
        top: 1.5em;
      }
    }
  }
  &__answer {
    @include inc.sizingRem(font-size, full, 16px, sp, 14px);
    line-height: 1.6;
    padding: 0 1em 1em 3em;
    position: relative;
    display: none;
    
    @include inc.mq(tab) {
      padding: 0 3em 1em 3em;
    }
    @include inc.mq(lap) {
      padding: 0 5em 2em 5em;
    }
    
    &::before {
      content: 'A';
      font-size: 1.25em;
      color: inc.$theme-color-darkyellow;
      position: absolute;
      left: 1em;
      top: .2em;
      margin: auto;
      line-height: 1;
      @include inc.mq(lap) {
        left: 2em;
      }
    }
  }
}
