@charset 'UTF-8';
@use "../../inc/" as inc;
/*
home
-----------------------------------------------------*/
#key_wrap {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  #keyVisual {
    width: 100%;
    height: 100%;
    position: relative;
    .videoBox {
      position: relative;
      width: 100%;
      height: 100%;
      video {
        min-height: 100%;
        min-width: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}

.home.p-kv__logo {
  position: absolute;
  bottom: 20%;
  right: 5%;
  h1 {
    width: 160px;
    @include inc.sizing(width, lap, 260px, wsp, 160px);
  }
  @include inc.mq(lap) {
    bottom: 6%;
    right: 10%;
    h1 {
      max-width: 260px;
    }
  }
}


.p-home {
  &_sansaku {
    @include inc.sizing(padding-top, tab, 80px, sp, 50px);
    @include inc.sizing(padding-bottom, tab, 48px, sp, 32px);
    background: url(../img/top/illust_01.png) no-repeat 100% 10px / 150px;
    @include inc.mq(wsp) {
      background: url(../img/top/illust_01.png) no-repeat 100% 10px / 30vw;
    }
    @include inc.mq(tab) {
      @include inc.sizing(padding-top, full, 80px, tab, 70px);
      @include inc.sizing(padding-bottom, full, 70px, tab, 60px);
      background: url(../img/top/illust_01.png) no-repeat 100% 100% / contain;
    }
    h2 {
      br {
        display: block;
        @include inc.mq(tab) {
          display: none;
        }
      }
    }
    p {
      @include inc.mq(tab) {
        padding-right: 270px;
      }
    }
  }

  &__lead {
    padding: 3rem 0 120px;
    background: url(../img/top/illust_03.png) no-repeat 100% calc(100% - 50px) / 24vw;
    position: relative;
    &::before {
      content: "";
      @include inc.sizing(width, tab, 290px, sp, 190px);
      @include inc.sizing(height, tab, 265px, sp, 210px);
      display: block;
      background: url(../img/top/illust_02.png) no-repeat 0 0;
      @include inc.sizing(background-size, tab, 290px, sp, 190px);
      position: absolute;
      left: -5.3vw;
      top: 4vw;
      @include inc.mq(tab) {
        @include inc.sizing(top, full, 100px, tab, 100px);
      }
    }
    @include inc.mq(tab) {
      padding: 5rem 0 180px;
      background: url(../img/top/illust_03.png) no-repeat 100% calc(100% - 50px) / 12vw;
      &::before {
        content: "";
        width: 390px;
        height: 354px;
        background: url(../img/top/illust_02.png) no-repeat 0 0 / 390px;
        left: -8.2vw;
        top: 90px;
      }
    }
    @include inc.mq(lap-ll) {
      padding: 8rem 0;
      background: url(../img/top/illust_03.png) no-repeat calc(100% - 3vw) calc(100% - 8rem) / 9vw;
      &::before {
        content: "";
        width: 390px;
        height: 354px;
        background: url(../img/top/illust_02.png) no-repeat 0 0 / 390px;
        left: -8.2vw;
        top: 32px;
      }
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    justify-content: left;
    gap: 0 4rem;
    &-head {
      max-width: 100%;
      width: 100%;
      @include inc.sizingRem(font-size, full, 32px, sp, 20px);
      line-height: 2;
      display: flex;
      flex-direction: column;
      justify-content: right;
      padding-top: 16vw;
      text-align: right;
      @include inc.mq(tab) {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-feature-settings: initial;
        text-align: left;
        padding: 0;
      }
      @include inc.mq(lap-ll) {
        max-width: 340px;
        width: 100%;
        @include inc.sizing(width, full, 340px, lap-ll, 60px);
        justify-content: center;
      }
    }
    &-body {
      margin: 1rem 0 0 0;
      max-width: 100%;
      width: 100%;
      @include inc.mq(tab) {
        margin: 3rem 0 0 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row-reverse;
        justify-content: center;
        gap: 2rem 3rem;
      }
      @include inc.mq(lap-ll) {
        margin: 0 auto;
        flex-direction:row-reverse;
        justify-content: left;
        max-width: calc(810px + 4rem);
        gap: 2rem 4rem;
      }
    }
    &-ph {
      width: 100%;
      margin: 0 0 2rem;
      @include inc.mq(tab) {
        margin: 0;
        max-width: calc(100% - (340px + 3rem));
      }
      @include inc.mq(lap-ll) {
        max-width: 470px;
      }
    }
    &-txt {
      max-width: 100%;
      @include inc.mq(tab) {
        max-width: 340px;
        width: 100%;
        display: flex;
        flex-direction:column;
        justify-content: end;
      }
    }
  }
}

.p-home-list {
  display: flex;
  flex-wrap: wrap;
  &__item {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 600px;
    position: relative;
    max-width: 80%;
    display: flex;
    transition: transform .3s;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      @include inc.sizing(width, full, 32px, sp, 16px);
      height: 1px;
      position: absolute;
      right: 1em;
      top: 1.6rem;
      margin: auto;
      display: block;
      background: inc.$theme-color-darkyellow;
      transition: transform .3s;
      @include inc.mq(lap) {
        right: unset;
        left: 45px;
        top: unset;
        bottom: 2.6rem;
      }
    }
    &::after {
      transform: rotate(90deg);
    }
    &.-open {
      &::after {
        transform: rotate(0);
      }
    }
    &:nth-child(2) {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
  }
  &__title {
    @include inc.sizingRem(font-size, full, 16px, sp, 14px);
    padding: 1em 3em;
    width: 100%;
    position: relative;
    @include inc.mq(lap) {
      width: 126px;
      width: 10%;
    }
  }
  .-open &__title {
    width: 124px;
    width: 10%
  }
  &__conts {
    @include inc.sizingRem(font-size, full, 16px, sp, 14px);
    line-height: 1.6;
    padding: 0 1em 1em 3em;
    position: relative;
    display: none;
    width: 0;
    @include inc.mq(tab) {
      padding: 0 3em 1em 3em;
    }
  }
  .-open &__conts {
    display: block;
    width: 100%;
  }
}





.accordion_area {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  //border-top: 1px solid #E0E0D6;
}
.accordion_area .-block {
  //border-bottom: 1px solid inc.$theme-color-yellow;
  border-top: 1px solid inc.$theme-color-yellow;
}
.accordion_area .-block .-header {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  max-width: 90%;
  margin: 0 auto;
  transition: background .3s;
  position: relative;
  cursor: pointer;
  &::before,
  &::after {
    content: '';
    @include inc.sizing(width, full, 32px, sp, 16px);
    height: 1px;
    position: absolute;
    right: 1em;
    top: 2.4rem;
    margin: auto;
    display: block;
    background: inc.$theme-color-darkyellow;
    transition: transform .3s;
  }
  &::after {
    transform: rotate(90deg);
  }
  &.-open {
    &::after {
      transform: rotate(0);
    }
  }
}
.accordion_area .-block .-header.-open + .-body {
  display: block;
}
.accordion_area .-block .-body {
  display: none;
  @include inc.sizingRem(font-size, full, 16px, sp, 14px);
  line-height: 1.6;
  //height: 600px;
  height: auto;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 2rem;
  position: relative;
  //display: none;
  .-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    gap: 1.5rem 0;
    img {
      width: 200px;
      height: auto;
    }
  }
}



@include inc.mq(tab) {
  .accordion_area {
    height: 600px;
    overflow: hidden;
    border-bottom: 1px solid #E0E0D6;
    position: relative;
    .-block {
      transition-duration: .6s;
      transition-timing-function: ease-out;
      display: flex;
      flex-wrap: wrap;
      background: inc.$base-color;
      border-bottom: none;
      width: calc(100% - (126px * 2));
      position: absolute;
      top: 0;
      &.-block1 {
        left: 0;
        z-index: 1;
      }
      &.-block2 {
        left: calc(100% - 252px);
        z-index: 2;
        .-header {
          border-left: 1px solid #E0E0D6;
        }
      }
      &.-block3 {
        left: calc(100% - 126px);
        z-index: 3;
        .-header {
          border-left: 1px solid #E0E0D6;
        }
      }
      .-header {
        display: flex;
        align-items: start;
        width: 126px;
        height: 600px;
        @include inc.sizingRem(font-size, full, 32px, sp, 20px);
        cursor: pointer;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-feature-settings: initial;
        padding-top: 5rem;
        margin: 0;
        div {
          margin-left: auto;
          margin-right: auto;
        }
        &::before,
        &::after {
          display: none;
        }
      }
      .-body {
        width: calc(100% - (126px * 1));
        display: block;
        .-box {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-self: start;
          gap: 0 1.5rem;
          padding: 5rem 0rem 5rem 1rem;
          figure {
            width: 35%;
            max-width: 430px;
            img {
              width: 100%;
              height: auto;
            }
          }
          div {
            max-width: calc(100% - (35% + 3rem));
            @include inc.sizingRem(font-size, full, 16px, tab, 14px);
            p {
              line-height: 1.6;
              & + p {
                margin-top: 1em;
              }
            }
          }
        }
      }
    }
  }
}
@include inc.mq(lap) {
  .accordion_area {
    .-block {
      .-body {
        .-box {
          gap: 0 3rem;
          padding: 5rem 2.5rem 5rem 1rem;
        }
      }
    }
  }
}



.p-home-sp_accordion {
  //border-top: 1px solid inc.$theme-color-yellow;
  &__item {
    border-top: 1px solid inc.$theme-color-yellow;
    transition: background .3s;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      @include inc.sizing(width, full, 32px, sp, 16px);
      height: 1px;
      position: absolute;
      right: 5%;
      //top: 2.1rem;
      top: 2.4rem;
      //transform: translate(0%, -50%);
      margin: auto;
      display: block;
      background: inc.$theme-color-darkyellow;
      transition: transform .3s;
      @include inc.mq(lap) {
        top: 4.2rem;
        right: 1.5rem;
      }
    }
    &::after {
      transform: rotate(90deg);
    }
    &.-open {
      //background: inc.$theme-color-lightyellow;
      &::after {
        transform: rotate(0);
      }
    }
  }
  &__title {
    //@include inc.sizingRem(font-size, full, 24px, sp, 18px);
    //@include inc.sizing(width, full, 32px, sp, 16px);
    line-height: 1.6;
    padding: 1.5em 4em 1.5em 5%;
    position: relative;
    @include inc.mq(lap) {
      padding: 2em 5em 2em 2em;
    }
  }
  &__txt {
    @include inc.sizingRem(font-size, full, 16px, sp, 14px);
    display: none;
    div {
      //@include inc.sizing(width, full, 1470px, sp, 330px);
      max-width: 90%;
      margin: 0 auto;
      @include inc.sizing(padding-bottom, full, 64px, sp, 40px);
      figure {
        @include inc.sizing(padding-bottom, full, 24px, sp, 16px);
      }
    }
  }
}


#p-home-pc_accordion {
  display: none;
  @include inc.mq(tab) {
    display: block;
  }
}

#p-home-sp_accordion {
  display: block;
  @include inc.mq(tab) {
    display: none;
  }
}