@charset 'UTF-8';
@use "../../inc/" as inc;
/*
kv
-----------------------------------------------------*/
.p-kv {
	.l-container--primary {
		position: relative;
		height: 100vh;
		width: 100%;
		max-width: 100%;
	}
	&__news {
		position: fixed;
		z-index: 900;
		bottom: 0;
		background: inc.$base-color;
		width: 100%;
		padding: 5%;
		border-bottom: 1px solid inc.$theme-color-yellow;;
		@include inc.mq(lap) {
			position: absolute;
			border-bottom: none;
			width: 420px;
			left: 3%;
			bottom: 5vh;
			padding: 1.5em;
		}
		h2 {
			@include inc.sizing(margin-bottom, full, 12px, sp, 10px);
			span {
				font-size: 12px;
				position: relative;
				padding-left: 1.2em;
				&:before {
					content: "";
					position: absolute;
					top: 5px;
					left: 0;
					background: url(../img/common/icon-info.svg) no-repeat 0 50%;
					background-size: 1em;
					width: 1em;
					height: 1em;
				}
			}
		}
		.bbs {
			align-items: center;
			display: flex;
			overflow:hidden;
			width: 100%;
			white-space:nowrap;
			z-index: 1;
		}
		.bbs ul {
			animation: flowing 20s linear infinite;
			@include inc.sizingRem(font-size, full, 14px, sp, 13px);
			transform:translateX(100%);
			margin: 0;
			padding: 0;
		}
		.bbs ul li{
			display: inline-block;
			padding-right: 10px;
			position: relative;
			padding: 0 0 0 1.5rem;
			line-height: 1.5;
		}
		.bbs ul li::before {
			content: ">";
			display: block;
			font-size: 12px;
			position: absolute;
			top:0;
			left: 12px;
		}
		@keyframes flowing {
			0% { transform:translateX(0); }
			100% { transform:translateX(-100%); }
		}
	}
	&__lead {
		.l-container--primary {
			height: 60vh;
			max-width: 870px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			@include inc.mq(lap) {
				height: 70vh;
				display: flex;
				align-items: center;
				align-content: center;
			}
		}
		&__inner {
			padding-top: 20vw;
			@include inc.mq(lap) {
				padding-top: 10vw;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
		}
		h2 {
			@include inc.sizing(font-size, full, 32px, sp, 24px);
			line-height: 1.4375;
			margin-bottom: 1.3em;
			@include inc.mq(lap) {
				width: 43%;
			}
		}
		p {
			@include inc.mq(lap) {
				width: 42.528%;
			}
		}
	}
}