@charset 'UTF-8';
@use "../../inc/" as inc;
/*
opening
-----------------------------------------------------*/
.p-opening {
  &--table {
    width: 100%;
    border-top: 1px solid #E2E2B9;
    table-layout: fixed;
    @include inc.mq(wsp) {
      width: 100%;
    }
    tr {
      border-bottom: 1px solid #E2E2B9;
    }
    th {
      padding: 1rem;
      line-height: 1.6;
    }
    td {
      padding: 1rem;
      line-height: 1.6;
    }
    th a {
      // position: relative;
      // z-index: 1;
      @include inc.sizingRem(font-size, full, 16px, sp, 14px);
    }
    th .c-button-arrow::before {
      position: relative;
      z-index: -1;
    }
    th span {
      display: block;
      @include inc.sizingRem(font-size, full, 12px, sp, 10px);
      color: inc.$theme-color-gold;
    }
    td {
      @include inc.sizingRem(font-size, full, 16px, sp, 14px);
    }
    td span {
      display: block;
      @include inc.sizingRem(font-size, full, 14px, sp, 12px);
    }
  }
  &--fixed02 {
    border-right: 1px solid #E2E2B9;
  }
  &--fixed04{
    @include inc.sizingRem(font-size, full, 20px, sp, 14px);
    border-left: none!important;
    //text-align: center;
  }
}
.mrsth {
  @include inc.sizingRem(font-size, full, 20px, sp, 14px);
  border-left: none!important;
  background: #fff!important;
  border-bottom: 1px solid #E2E2B9;
  top: 66px;
  th {
    padding: 1rem;
    line-height: 1.6;
    //text-align: center;
  }
}
#div-table01 {
  top: 65px!important;
  margin-left: -2px;
}

#div-table02 {
  top: 65px!important;
  margin-left: -2px;
}

.tab-2 {
  border-left: 1px solid #E2E2B9;
}
.tab-3 {
  border-left: 1px solid #E2E2B9;
}

.business-hours-tab {
  background: #fff;
  position: sticky;
  top: 60px;
  display: block;
  @include inc.mq(tab) {
    display: none;
  }
  #tab-1,
  #tab-2,
  #tab-3 {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.7;
      padding: 1.5em .5em;
      background: #FFF;
      border: 1px solid inc.$theme-color-yellow;
      border-bottom: 0;
      color: #aaa;
      border-radius: inc.size(full, 10px, sp, 7px) inc.size(full, 10px, sp, 7px) 0 0;
      cursor: pointer;
      @include inc.sizingRem(font-size, full, 16px, sp, 12px);
      &.-active {
        background: inc.$theme-color-yellow;
        color: inc.$theme-color-black;
      }
  }

}

#div-table01,
#div-table02 {
  display: none;
  width: clamp(330px, 90.84vw - 10.7px, 1470px);
  max-width: 90%;
  table {
    width: 100%;
  }
}
#table01 thead,
#table02 thead {
  //display: none;
}
.tab-2 {
  display: none;
}
.tab-3 {
  display: none;
}
th.p-opening--fixed02 {
  //width: 40%!important;
  width: 20%!important;
  padding-left: 0;
}
@include inc.mq(tab) {
  #div-table01,
  #div-table02 {
    display: block;
  }
  #table01 thead,
  #table02 thead {
    display: table-header-group;
  }
  .tab-1 {
    display: table-cell;
  }
  .tab-2 {
    display: table-cell;
  }
  .tab-3 {
    display: table-cell;
  }
  th.p-opening--fixed02 {
    //width: 25%!important;
  }
}



.tab-cnt00 {
  display: flex;
  flex-wrap: wrap;
}
.tab-cnt04 {
  gap: 2%;
  li {
    width: 23.5%;
  }
}
.tab-cnt03 {
  gap: 0.5%;
  li {
    width: 30%;
  }
}
.tab-cnt02 {
  gap: 2%;
  li {
    width: 49%;
  }
}
.tab-cnt01 {
  gap: 0%;
  li {
    width: 100%;
  }
}


.p-opening--fixed01 {
  width: 20%!important;
}
.p-opening--fixed04 {
  width: auto!important;
}
.p-opening--fixed04 + .p-opening--fixed04 {
  // max-width: 40%!important;
}


@media print{
  header,
  footer,
  .c-breadcrumb,
  .c-button-areamap,
  h1,
  .business-hours-tab,
  .other-conts {
      display: none;
  }
  .l-main {
      padding: 0;
  }
  .l-spacer.-medium {
      margin: 0;
      padding: 0;
  }
  .l-spacer.-medium.-both {
      padding: 0;
  }
  .p-opening--table {
      margin-top:32px;
  }
  .p-opening--scroll {
      overflow: initial;
      height: auto;
  }
  .p-opening--fixed01 {
    position: static;
    color: #000;
    background: none;
    min-width: none;
    &:before{
      display: none;
    }
    &:after{
        display: none;
    }
  }
  .p-opening--fixed02 {
    position: static;
    color: #000;
    background: none;
    min-width: none;
    &:before{
      display: none;
    }
  }
  .p-opening--fixed03 {
    position: static;
    color: #000;
    background: none;
    &:before{
      display: none;
    }
  }
  .p-opening--fixed04 {
    position: static;
    color: #000;
    background: none;
  }
  .c-list-category__item {
    background: none;
    color: #000;
  }
  .c-list-category__item.-act {
    background: none;
    color: #000 !important;
    border: 1px solid #000;
  }
}

