@charset 'UTF-8';
@use "../../inc/" as inc;
/*
sonmin
-----------------------------------------------------*/
.-sonmin-bg {
	background: #FAF0E7;
	.c-border-t {
		border-color: inc.$base-color;
	}
	.c-list-dl {
		border-color: inc.$base-color;
		dt,
		dd {
			border-color: inc.$base-color;
		}
	}
	.c-bg-yellow {
		background: transparent;
	}
	.l-contents-block__wrap {
		padding-top: 0 !important;
	}
	.c-bg-border {
		border: 1px solid inc.$base-color;
	}
}

.p-sonmin {
	&__kv {
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 100%;
		background: url(../img/sonmin/keyvisual.jpg) no-repeat 50% 50%;
		background-size: cover;
		.l-container--primary {
			position: relative;
			height: 100vh;
			width: 100%;
			max-width: 100%;
		}
		&__logo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			h1 {
				max-width: 370px;
				@include inc.sizing(margin-bottom, full, 60px, sp, 32px);
			}
			.c-button-block.-arrow::before {
				transform: rotate(135deg);
			}
		}
		&__news {
			position: absolute;
			bottom: 0;
			background: inc.$base-color;
			width: 100%;
			padding: 5%;
			@include inc.mq(lap) {
				width: 370px;
				left: 3%;
				bottom: 5vh;
				padding: 1.5em;
			}
			h2 {
				@include inc.sizing(margin-bottom, full, 12px, sp, 10px);
				span {
					font-size: 12px;
					position: relative;
					padding-left: 1.2em;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						background: url(../img/common/icon-info.svg) no-repeat 0 50%;
						background-size: 1em;
						width: 1em;
						height: 1em;
					}
				}
			}
			.endress {
				width: 100%;
				overflow: hidden;
				.loop_wrap {
				  display: flex;
				  width: 100%;
				  overflow: hidden;
				  gap: 0 3rem;
				}
				.loop_wrap div {
				  flex: 0 0 auto;
				  white-space: nowrap;
				  overflow: hidden;
				  a {
					span {
					  @include inc.sizingRem(font-size, full, 12px, sp, 11px);
					  padding-right: .6rem;
					}
				  }
				}
				.loop_wrap div:nth-child(odd) {
				  animation: loop 50s -25s linear infinite;
				}
				.loop_wrap div:nth-child(even) {
				  animation: loop2 50s linear infinite;
				}
				@keyframes loop {
				  0% {
					transform: translateX(100%);
				  }
				  to {
					transform: translateX(-100%);
				  }
				}
				@keyframes loop2 {
				  0% {
					transform: translateX(0);
				  }
				  to {
					transform: translateX(-200%);
				  }
				}
			  }
		}
	}
	&__lead {
		color: inc.$base-color;
		background: linear-gradient(rgb(192, 197, 179) 0%, rgb(76, 90, 42) 30%, rgb(45, 54, 25) 100%);
		.l-container--primary {
			height: 100vh;
			max-width: 870px;
			@include inc.mq(lap) {
				display: flex;
				align-items: center;
				align-content: center;
			}
		}
		&__inner {
			padding-top: 6em;
			@include inc.mq(lap) {
				padding-top: 0;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
		}
		h2 {
			@include inc.sizing(font-size, full, 32px, sp, 24px);
			line-height: 1.4375;
			margin-bottom: 1.3em;
			@include inc.mq(lap) {
				width: 43%;
			}
		}
		p {
			@include inc.mq(lap) {
				width: 42.528%;
			}
		}
	}
	&__news {
		.l-container--primary {
			@include inc.mq(lap) {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
		}
		h2 {
			@include inc.sizing(font-size, full, 24px, sp, 17px);
			margin-bottom: 1.5em;
			@include inc.mq(lap) {
				width: 29.365%;
				margin-bottom: 0;
			}
		}
		ul {
			@include inc.mq(lap) {
				width: 68.25%;
				margin-top: .4em;
			}
			li {
				position: relative;
				padding-left: 1.2em;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					width: 1em;
					height: 1em;
					content: "＊";
				}
				&:not(:last-child) {
					margin-bottom: .5em;
				}
			}
		}
	}
	&__pickup {
		// border-top: 1px solid inc.$base-color;
		.-w-1_3 {
			@include inc.mq(lap) {
				width: 40%;
			}
		}
		h2 {
			@include inc.sizing(font-size, full, 24px, sp, 16px);
			span {
				color: inc.$main-text-color;
				@include inc.sizing(font-size, full, 16px, sp, 12px);
			}
		}
	}
	&__lnk {
		text-align: center;
		@include inc.sizing(margin-top, full, 124px, sp, 50px);
	}
}