@charset 'UTF-8';
@use "../../inc/" as inc;
/*
facility
-----------------------------------------------------*/
.facility-tab {
	display: flex;
	padding: 0 5%;
	@include inc.mq(tab) {
		display: none;
	}
	.c-tab-control__button {
		border: 1px solid #E8E8D8;
		border-bottom: none;
		color: #aaa;
		background: #fff;
	}
	.c-tab-control__button.-active {
		background: #E8E8D8;
		color: #000;
	}
	.c-tab-control__button.-green.-active {
		background: #D7E6AF;
		color: #000;
	}
}

.facility-flex {
	display: flex;
	flex-wrap: wrap;
	&-img {
		background-image: url(../img/facility/base.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0 5%;
		display: none;
		@include inc.mq(tab) {
			display: block;
			//width: 55%;
			width: 50%;
		}
		@include inc.mq(lap-l) {
			//width: 65%;
			width: 50%;
		}
	}
	&-txt {
		width: 100%;
		h2.c-title-small {
			display: none;
		}
		border-top: 1px solid #E8E8D6;
		@include inc.mq(tab) {
			//width: 45%;
			width: 50%;
			padding: 4rem 3vw 0;
			h2.c-title-small {
				display: block;
			}
			border-top: none;
		}
		@include inc.mq(lap-l) {
			//width: 35%;
			width: 50%;
			padding: 4rem 5vw 0;
		}
	}
}

// .home .facility-flex {
// 	@include inc.mq(tab) {
// 		background: none;
// 	}
// 	display: flex;
// 	flex-wrap: wrap;
// 	&-img {
// 		padding: 0 0%;
// 		width: 100%;
// 		display: block;
// 		@include inc.mq(tab) {
// 			display: block;
// 			width: 50%;
// 		}
// 	}
// 	&-txt {
// 		@include inc.sizing(width, full, 1470px, sp, 330px);
// 		max-width: 90%;
// 		margin: 0 auto;
// 		padding: 1rem 0 3rem;
// 		@include inc.sizing(padding-top, tab, 80px, sp, 64px);
// 		@include inc.sizing(padding-bottom, tab, 48px, sp, 32px);
// 		@include inc.mq(tab) {
// 			@include inc.sizing(padding-top, full, 80px, tab, 70px);
// 			@include inc.sizing(padding-bottom, full, 70px, tab, 60px);
// 		}
// 		border-top: 1px solid #E8E8D6;
// 		@include inc.mq(tab) {
// 			width: 50%;
// 			max-width: auto;
// 			padding-left: 6vw;
// 			padding-right: 6vw;
// 			border-top: none;
// 		}
// 	}
// }


.home .monument-list {
	ul {
		border-top: 1px solid #E0E0D6;
		li {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			gap: 0 5%;
			border-bottom: 1px solid #E0E0D6;
			@include inc.sizing(padding-top, full, 20px, sp, 16px);
			@include inc.sizing(padding-bottom, full, 20px, sp, 16px);
			img {
				width: 35%;
				@include inc.mq(tab) {
					width: 30%;
				}
			}
			span {
				display: block;
				width: 60%;
				@include inc.mq(tab) {
					width: 65%;
				}
				display:flex;
				flex-direction:column;
				justify-content:center;
				padding-left: 26px;
				background-position: 0 50%;
				background-repeat: no-repeat;
				background-size: 20px;
			}
			&:nth-child(1) span {
				background-image: url(../img/common/map_no01.svg);
			}
			&:nth-child(2) span {
				background-image: url(../img/common/map_no02.svg);
			}
			&:nth-child(3) span {
				background-image: url(../img/common/map_no03.svg);
			}
			&:nth-child(4) span {
				background-image: url(../img/common/map_no04.svg);
			}
			&:nth-child(5) span {
				background-image: url(../img/common/map_no05.svg);
			}
			&:nth-child(6) span {
				background-image: url(../img/common/map_no06.svg);
			}
		}
	}
}

.map_pin {
    position: relative;
}
.map_pin .pin {
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 39px;
	@include inc.sizing(width, tab, 32px, sps, 24px);
	@include inc.mq(tab) {
		@include inc.sizing(width, full, 39px, tab, 24px);
	}
	a {
		cursor: pointer;
	}
}
.map_pin .pin img {
	width: 100%;
}
.map_pin .pin_01 {
    margin-top: -56.5%;
    margin-left: 9%;
}
.map_pin .pin_02 {
    margin-top: -47.2%;
    margin-left: 33.8%;
}
.map_pin .pin_03 {
    margin-top: -44.2%;
    margin-left: -5.2%;
}
.map_pin .pin_04 {
    margin-top: -37.3%;
    margin-left: 6.0%;
}
.map_pin .pin_05 {
    margin-top: -18.2%;
    margin-left: 34.5%;
}
.map_pin .pin_06 {
    margin-top: -14.2%;
    margin-left: -31.2%;
}
.map_pin .pin_07 {
    margin-top: -9.5%;
    margin-left: 22.3%;
}
.map_pin .pin_08 {
    margin-top: 12.8%;
    margin-left: -42.2%;
}
.map_pin .pin_09 {
    // margin-top: 1.3%;
    // margin-left: -10.8%;
	margin-top: 15.3%;
    margin-left: -9.8%;
}
.map_pin .pin_10 {
    margin-top: 13.8%;
    margin-left: 12%;
}
.map_pin .pin_11 {
    margin-top: 24.8%;
    margin-left: -24.5%;
}
.map_pin .pin_12 {
    margin-top: 51.2%;
    margin-left: -26.7%;
}


.map_pin2 .title_01 {
	margin-top: -49.5%;
    margin-left: 8%;
}
.map_pin2 .title_02 {
	margin-top: -42.2%;
    margin-left: 33.8%;
}
.map_pin2 .title_03 {
margin-top: -39.2%;
@include inc.sizingRem(margin-left, tab, -89px, sp, -77px);
@include inc.mq(tab) {
	@include inc.sizingRem(margin-left, full, -103px, tab, -89px);
}
}
.map_pin2 .title_04 {
    margin-top: -23.3%;
    margin-left: 6%;
}
.map_pin2 .title_05 {
margin-top: -17.2%;
margin-left: 34.5%;
}
.map_pin2 .title_06 {
    margin-top: -2%;
    margin-left: -27.2%;
}
.map_pin2 .title_08 {
    margin-top: 9.8%;
    margin-left: -39.2%;
}
.map_pin2 .title_09 {
    margin-top: 10.3%;
    margin-left: -12.8%;
}
.map_pin2 .title_10 {
    margin-top: 13.8%;
    margin-left: 12%;
}
.map_pin2 .title_11 {
    margin-top: 34.8%;
    margin-left: -21.5%;
}
.map_pin2 .title_12 {
    margin-top: 57.2%;
    margin-left: -23.7%;
}

.map_pin .no00 {
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 28px;
	@include inc.sizing(width, tab, 28px, sps, 20px);
	@include inc.mq(tab) {
		@include inc.sizing(width, full, 32px, tab, 20px);
	}
	a {
		cursor: pointer;
	}
}

.map_pin .no01 {
	margin-top: -24.8%;
    margin-left: 24.3%;
}
.map_pin .no02 {
	margin-top: -34.8%;
    margin-left: 18.3%;
}
.map_pin .no03 {
	margin-top: -29.6%;
    margin-left: -1.2%;
}
.map_pin .no04 {
	margin-top: -17.8%;
    margin-left: -9%;
}
.map_pin .no05 {
	margin-top: 16.2%;
    margin-left: 23.5%;
}
.map_pin .no06 {
	margin-top: 28.5%;
    margin-left: 17.3%;
}


// .page-template-facility .map_pin .no00 {
//     display: none;
// }


.facility-flex-img {
	display: block!important;
	position: relative;
}

.facility-flex {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
// @include inc.mq(lap-ll) {
	.facility-flex-img {
		width: 100%;
	}
// }
@include inc.mq(tab) {
	.facility-flex-img {
		display: block;
		width: 80%;
	}
}
@include inc.mq(lap-l) {
	.facility-flex-img {
		width: 70%;
	}
}
@include inc.mq(lap-li) {
	.facility-flex-img {
		width: 60%;
	}
}


@include inc.mq(tab) {
.map_pin2 .title {
	width: auto;
}
}
.map_pin2 .title {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: auto;
background-color: rgba(255,255,255,.8);
padding: .35rem .5rem .4rem;
border-radius: .4rem;
line-height: 1.2;
}

.map_pin2 .title a {
	display: block;
	@include inc.sizingRem(font-size, tab, 12px, sp, 9px);
	@include inc.mq(tab) {
		@include inc.sizingRem(font-size, full, 14px, tab, 12px);
	}
}
.map_pin2 .title a + a {
margin-top: .3rem;
}

.map_pin2 .title span {
position: relative;
display: block;
// padding-left: .8rem;
// top: .5rem;
@include inc.sizingRem(padding-left, tab, 10px, sp, 6px);
white-space: nowrap;

}

.map_pin2 .title span::before {
content: '';
// width: 5px;
// height: 5px;
@include inc.sizingRem(width, tab, 5px, sp, 2px);
@include inc.sizingRem(height, tab, 5px, sp, 2px);
border-top: solid 1px #000;
border-right: solid 1px #000;
position: absolute;
left: 0px;
// top: .5rem;
@include inc.sizingRem(top, tab, 5px, sp, 4px);
transform: rotate(45deg);
}




.txt.txt_01 {
	@include inc.sizingRem(font-size, tab, 11px, sp, 9px);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -3%;
    margin-left: 41%;
    transform: translate(-50%, -50%);
	line-height: 1.4;
	width: 3.8rem;
	span {
		display: block;
	}
	@include inc.mq(lap) {
		margin-top: -4%;
		margin-left: 39%;
        @include inc.sizingRem(font-size, lap, 12px, tab, 11px);
		width: 3.8rem;
    }
}
.txt.txt_01-2 {
	@include inc.sizingRem(font-size, tab, 11px, sp, 9px);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -3%;
    margin-left: 41%;
    transform: translate(-50%, -50%);
	line-height: 1.4;
	width: 3.8rem;
	span {
		display: block;
	}
	@include inc.mq(lap) {
		margin-top: -4%;
		margin-left: 33%;
        @include inc.sizingRem(font-size, lap, 12px, tab, 11px);
		width: 3.8rem;
    }
}

.txt.txt_02 {
	@include inc.sizingRem(font-size, tab, 11px, sp, 10px);
	position: absolute;
	top: 50%;
	left: 50%;
	// margin-top: 6%;
	// margin-left: 15%;
	// margin-top: 8%;
    // margin-left: 39%;
	margin-top: 7.5%;
    margin-left: 12%;
    transform: translate(-50%, -50%);
	// line-height: 1.4;
	// width: 5.8rem;
	line-height: 1;
	background: rgba(255, 255, 255, .7);
	border-radius: .2rem;
	padding: 0;
	display: block;
	padding: .2rem .3rem .3rem .3rem;
	span {
		display: block;
	}
	@include inc.mq(lap) {
		// margin-top: 7.5%;
        // margin-left: 13%;
		// margin-top: 9.5%;
        // margin-left: 32%;
		margin-top: 7.5%;
        margin-left: 12%;
        @include inc.sizingRem(font-size, lap, 12px, tab, 11px);
		// width: 5.8rem;
    }
}

.txt.txt_03 {
	@include inc.sizingRem(font-size, tab, 11px, sp, 10px);
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	line-height: 1.4;
	margin-top: 65%;
    margin-left: 38%;
	width: 7rem;
	display: flex;
	flex-wrap: wrap;
	span {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: .6rem;
	}
	@include inc.mq(lap) {
		margin-top: 66%;
    	margin-left: 38%;
        @include inc.sizingRem(font-size, lap, 12px, tab, 11px);
		width: 7rem;
    }
	i {
		img {
			width: 24px;
			height: auto;
		}
	}
}


.txt.txt_04 {
	@include inc.sizingRem(font-size, tab, 11px, sp, 8px);
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	line-height: 1.4;
	margin-top: -32.5%;
    //margin-left: 6%;
	@include inc.sizingRem(margin-left, tab, 41px, sp, 44px);
	width: 4.8rem;
	display: flex;
	flex-wrap: wrap;
	span {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: .6rem;
	}
	br {
		display: none;
	}
	@include inc.mq(lap) {
		br {
			display: block;
		}
		margin-top: -31.5%;
        //margin-left: 4%;
        //@include inc.sizingRem(font-size, lap, 12px, tab, 11px);
		@include inc.sizingRem(margin-left, full, 44px, tab, 41px);
		width: 4.8rem;
    }
}


.txt.txt_05 {
	@include inc.sizingRem(font-size, tab, 15px, sp, 13px);
	text-align: right;
	margin: .6rem auto 1.5rem;
	// position: absolute;
	// bottom: 10px;
	// right: 10px;
	line-height: 1.4;
	width: 80%;
	@include inc.mq(tab) {
		width: 80%;
	}
	@include inc.mq(lap-l) {
		width: 70%;
	}
	@include inc.mq(lap-li) {
		width: 60%;
	}
}

.-btnDL {
	text-align: center;
	margin: 0 auto 3rem;
}








.p-facility {
	&-list {
		&__item {
			border-top: 1px solid inc.$border-color-yellow;
			div {
				border-bottom: 1px solid inc.$border-color-yellow;
			}
		}
		&__dt {
			a {
				padding: 1.2rem 1rem 1.2rem 1.5rem;
				display: block;
				position: relative;
				&::after {
					content: "";
					width: 0.4em;
					height: 0.4em;
					display: block;
					vertical-align: middle;
					-webkit-transform: rotate(45deg) translateY(-0.1em);
					transform: rotate(45deg) translateY(-0.1em);
					border-top: 1px solid currentColor;
					border-right: 1px solid currentColor;
					position: absolute;
					right: 1rem;
					top: 50%;
				}
			}
			span {
				cursor: pointer;
				padding: 1.2rem 1rem 1.2rem 1.5rem;
				display: block;
				position: relative;
				&::before,
				&::after {
					content: '';
					width: 12px;
					height: 1px;
					position: absolute;
					top: 50%;
					right: 0.8rem;
					margin: auto;
					display: block;
					background: inc.$theme-color-darkyellow;
					transition: transform .3s;
				}
				&::after {
					transform: rotate(90deg);
				}
			}
			&.-open {
				background: inc.$theme-color-lightyellow;
				span::after {
						transform: rotate(0);
					}
			}
		}

		&__dd {
			display: none;
			padding: 0 0 2rem 3rem;
			ul {
				li {
					a {
						display: block;
						padding: .8rem 0;
						position: relative;
						&::after {
							content: "";
							width: 0.4em;
							height: 0.4em;
							display: block;
							vertical-align: middle;
							-webkit-transform: rotate(45deg) translateY(-0.1em);
							transform: rotate(45deg) translateY(-0.1em);
							border-top: 1px solid currentColor;
							border-right: 1px solid currentColor;
							position: absolute;
							right: 1rem;
							top: 50%;
						}
					}
				}
			}
		}
	}
}







#tab-map {
	.-map_list {
		background: #D7E6AF;
		padding: 2rem 5%;
		column-count: 2;
		counter-reset: number 0;
		li {
			font-size: 13px;
			@include inc.sizingRem(font-size, tab, 15px, wsp, 13px);
			position: relative;
			padding-left: 1.6rem;
			margin-bottom: 16px;
			line-height: 1.2rem;
			&::before {
				counter-increment: number 1;
				content: counter(number);
				background: #fff;
				border: 1px solid #E8E8D8;
				font-size: 10px;
				width: 17px;
				height: 17px;
				line-height: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: 0;
				top: 1px;
				letter-spacing: -.01rem;
				font-family: "Helvetica Neue",sans-serif;
				font-display: swap;
				font-weight: bold;
			}
			a {
				text-decoration: underline;
				text-underline-offset: 2px;
			}
		}
	}
}



.-approval {
	width: 100%;
	@include inc.mq(wsp) {
		max-width: 360px;
    }
}