@charset 'UTF-8';
@use "../inc/" as inc;
/*
footer
-----------------------------------------------------*/
.l-footer {
  &__outline {
    display: flex;
    flex-direction: column;
    @include inc.mq(lap) {
      flex-direction: row-reverse;
    }
  }
  
  &__bottom {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    @include inc.mq(tab) {
      width: 94%;
    }
    @include inc.mq(vr) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__copyright{
    font-size: inc.rem(11);
    text-align: center;
    margin-left: auto;
    margin-top: 2em;
    width: 100%;
    @include inc.mq(tab) {
      //text-align: right;
    }
    @include inc.mq(vr) {
      margin-top: 0;
      text-align: right;
    }
  }


  &__logo{
    display: block;
    text-align: center;
    margin: 4rem auto 0;
    @include inc.sizing(width, tab, 170px, sp, 124px);
    height: auto;
    @include inc.mq(vr) {
      margin: 0;
    }
  }
}

.l-footer-information {
  border-top: 1px solid inc.$border-color-yellow;
  @include inc.mq(lap) {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}

.l-footer-buttonlink {
  text-align: center;
  @include inc.sizing(padding, full, 60px, sp, 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__title {
    @include inc.sizing(width, full, 270px, sp, 170px);
    margin: 0 auto;
    img {
      width: 100%
    }
  }
  &__button.c-button-block {
    width: 270px;
    margin-top: auto;
    @include inc.sizing(padding-top, full, 15px, sp, 12px);
    @include inc.sizing(padding-bottom, full, 15px, sp, 12px);
    padding-left: 3rem;
    padding-right: 3em;
    line-height: 0;
  }
}



.l-footer-concept {
  background: url(../img/common/bg-foot-concept.jpg) no-repeat center center / cover; 
  color: #FFF;
  @include inc.mq(lap) {
    background-image: url(../img/common/bg-foot-concept-pc.jpg); 
    width: 67%;
  }
  
  &__text {
    width: 270px;
    margin: 2em auto;
    text-align: left;
  }
}
.l-footer-map {
  background: url(../img/common/bg-foot-map.jpg) no-repeat center center / cover; 
  @include inc.sizing(padding-top, full, 100px, sp, 40px);
  @include inc.mq(lap) {
    width: 33%;
  }
  &__text {
    width: 270px;
    margin: 1em auto;
    text-align: center;
    @include inc.sizingRem(font-size, full, 18px, sp, 11px);
  }
}

.l-footer-important-news {
  @include inc.sizing(padding-top, full, 72px, sp, 32px);
  @include inc.sizing(padding-bottom, full, 72px, sp, 32px);
  &__inner {
    @include inc.mq(lap) {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: start;
    }
  }
  
  &__title {
    @include inc.sizingRem(font-size, full, 24px, sp, 17px);
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    
    &::before {
      content: '';
      width: 1em;
      height: 1em;
      display: inline-block;
      background: url(../img/common/icon-info.svg) no-repeat center center / contain;
      margin-right: .5em;
    }
  }
  
  &__news {
    width: calc(100% - calc(inc.size(full, 24px, sp, 17px) * 3));
    margin: 0 auto;
  }
  
  &__more {
    margin-top: 2em;
    display: block;
    @include inc.mq(tab) {
      margin-top: 0;
      display: flex;
      justify-content: end;
    }
  }
}

.l-footer-pickup {
  text-align: center;
  border-top: 1px solid inc.$theme-color-yellow;
  padding: 2em;
  
  @include inc.mq(lap) {
    border-top: none;
    border-left: 1px solid inc.$theme-color-yellow;
    display: flex;
    align-items: center;
    
  }
  
  &__title {
    font-size: inc.rem(12);
    background: inc.$theme-color-yellow;
    border-radius: 2em;
    font-family: inc.$font-set-en;
    font-weight: 300;
    width: fit-content;
    margin: 0 auto 1em;
    padding: 0.4em 2em;
    @include inc.mq(lap) {
      margin: 0 2em 0 0;
    }
  }
  &__conts {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
}

