@charset 'UTF-8';
@use "../inc/" as inc;
/*
 header
-----------------------------------------------------*/

#loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 3000;
  pointer-events: none;
}


.l-header {
  width: 100%;
  margin: auto;
  background: #FFF;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  @include inc.sizing(height, tab, 70px, sp, 54px);
  @include inc.mq(tab) {
    height: auto;
  }
  &__top {
    min-height: 60px;
    @include inc.sizing(padding-top, full, 30px, sp, 10px);
    @include inc.sizing(padding-bottom, full, 30px, sp, 10px);
    @include inc.sizing(padding-left, full, 50px, sp, 16px);
    @include inc.sizing(padding-right, full, 50px, sp, 16px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #FFF;
    
    position: fixed;
    top: 0; left: 0; right: 0;
    margin: auto;
    //z-index: 99;
    
    @include inc.mq(tab) {
      position: relative;
      z-index: 100;
    }
    
  }
}

.page-template-halnire {
  .l-header {
    &__top {
      position: static;
      &.harunire_sp__top {
        position: fixed;
        z-index: -1;
      }
    }
  }
}



.l-header-logo {
  display: flex;
  flex-direction: column;
  @include inc.mq(tab) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  
  &__ja {
    display: block;
    @include inc.sizing(width, full, 215px, sp, 128px);
    margin-right: 1em;
  }
  &__en {
    display: block;
    @include inc.sizing(width, full, 129px, sp, 122px);
    margin-top: 5px;
    @include inc.mq(tab) {
      margin-top: 0;
    }
  }
}


.page-template-halnire,
.single-shop {
  .l-header {
    &__top {
      position: static;
      &.harunire_sp__top {
        position: fixed!important;
        min-height: 54px;
        z-index: -1;
        .l-header-logo img {
          width: auto!important;
          height: 34px;
        }
        @include inc.mq(tab) {
          display: none;
        }
      }
    }
  }
}

.page-template-tombo {
  .l-header {
    &__top {
      
      position: static;
      &.tombo_sp__top {
        position: fixed!important;
        min-height: 54px;
        z-index: -1;
        .l-header-logo img {
          width: auto!important;
          height: 34px;
        }
        @include inc.mq(tab) {
          display: none;
        }
      }
    }
  }
}

.page-template-sonmin {
  .l-header {
    &__top {
      
      position: static;
      &.sonmin_sp__top {
        position: fixed!important;
        min-height: 54px;
        z-index: -1;
        .l-header-logo img {
          width: auto!important;
          height: 34px;
        }
        @include inc.mq(tab) {
          display: none;
        }
      }
    }
  }
}

.page-template-keraike {
  .l-header {
    &__top {
      
      position: static;
      &.keraike_sp__top {
        position: fixed!important;
        min-height: 54px;
        z-index: -1;
        .l-header-logo img {
          width: auto!important;
          height: 16px;
        }
        @include inc.mq(tab) {
          display: none;
        }
      }
    }
  }
}

.postid-1006.single-shop,
.postid-1003.single-shop {
  .l-header {
    &__top {
      position: fixed;
      &.harunire_sp__top {
        display: none;
      }
      @include inc.mq(tab) {
        position: relative;
        z-index: 100;
      }
    }
  }
}


.l-header.-open {
  display: block;
  position: fixed;
  top: 0; left: 0; right: 0;
  margin: auto;
  height: auto;
  max-height: 100%;
  overflow-y: scroll;
  background: #FFF;
  z-index: 99;
  
  @include inc.mq(tab) {
    height: auto;
    max-height: 100%;
    overflow: auto;
  }
  
  .l-header__top {
    position: relative;
  }
  .l-header-menu {
    position: relative;
    top: auto;
  }
}
  


.l-header-menu {
  background: inc.$theme-color-lightyellow;
  display: flex;
  flex-direction: column-reverse;
  
  position: absolute;
  z-index: 90;
  top: 100%; left: 0;right: 0;
  margin: auto;
  width: 100%;
  
  
  @include inc.mq(tab) {
    position: relative;
    z-index: 97;
  }
  @include inc.mq(lap) {
    flex-direction: row;
    align-items: center;
    height: 4.125em;
    //height: 66px;
    // padding-top: 6px;
    // padding-bottom: 6px;
    @include inc.sizing(padding-left, full, 10px, sp, 5px);
    @include inc.sizing(padding-right, full, 10px, sp, 5px);
  }
  &__lang {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .c-lang {
      position: relative;
      z-index: 99;
      height: auto;
      width: 100%;
      background: inc.$theme-color-lightyellow;
      @include inc.mq(tab) {
        //position: relative;
        text-align: center;
        height: 32px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width: 200px;
        border-radius: 6px;
      }
    }
    
  }
  &.-fixed {
    @include inc.mq(tab) {
      position: fixed;
      top: 0; left: 0; right: 0; 
      margin: auto;
    }
    
  }
  
  
  &__primary {
    display: none;
    @include inc.mq(lap) {
      display: flex;
      justify-content: space-around;
      width: 50%;
    }
  }
  &__secondary {
    @include inc.sizing(padding, full, 10px, sp, 5px);
    @include inc.sizingRem(font-size, full, 16px, sp, 14px);
    @include inc.mq(tab) {
      padding-left: 1em;
    }
    @include inc.mq(lap) {
      width: 50%;
      position: relative;
      padding: 0 0 0 1em;
      
      &::before {
        content: '';
        width: 1px;
        height: 2em;
        background: inc.$theme-color-yellow;
        display: block;
        position: absolute;
        left: 0; top: 0; bottom: 0; margin: auto;
        box-shadow: 0 0 0 1px #FFF;
      }
    }
    @include inc.mq(desk) {
      padding-left: 2em;
    }
  }
  &__tertiary {
    display: none;
    
    @include inc.mq(tab) {
      display: flex;
    }
  }
}

.l-header-drawer {
  display: none;
}

.l-header-submenu {
  border-bottom: 1px solid inc.$theme-color-yellow;
  
  
  @include inc.mq(tab) {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid inc.$theme-color-yellow;
  }
  
  &__infomenu {
    background: inc.$theme-color-lightyellow;
    @include inc.mq(tab) {
      background: none;
      //width: calc(100% / 3 * 2);
      width: 100%;
      border-bottom: 1px solid inc.$theme-color-yellow;
    }
    @include inc.mq(desk) {
      width: calc(100% / 3);
      border-bottom: none;
    }
    @include inc.mq(vr) {
      //width: 50%;
      width: 100%;
    }
  }
  
  &__today {
    background: inc.$theme-color-lightyellow;
    border-bottom: 1px solid inc.$theme-color-yellow;
    padding: 1.5em 0;
    @include inc.mq(tab) {
      width: calc(100% / 3);
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // background: none;
      // border-left: 1px solid inc.$theme-color-yellow;
      display: none;
    }
    @include inc.mq(desk) {
      background: none;
      width: calc(100% / 6);
      border-bottom: none;
    }
    @include inc.mq(desk) {
      width: calc(100% / 6);
    }
  }
  
  &__othermenu {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include inc.mq(tab) {
      padding: 2rem 4rem;
      display: table;
      width: 100%;
    }
    @include inc.mq(desk) {
      width: 50%;
      border-left: 1px solid inc.$theme-color-yellow;
    }
    @include inc.mq(vr) {
      padding: 2rem;
      width: calc(100% / 3);
    }
    @include inc.mq(wide) {
      padding: 2rem 3%;
    }
  }
  
  &__lang {
    //margin-bottom: 3rem;
    padding: 2em 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: inc.$theme-color-lightyellow;
    @include inc.mq(tab) {
      display: none;
    }
    .c-lang {
      position: relative;
      width: 100%;
    }
  }
}

.display_selectedItem {
  width: 100%;
  @include inc.sizingRem(font-size, full, 12px, sp, 11px);
}

.display_selectedItem3 {
  position: relative;
}
.display_selectedItem3::before {
			content: '';
			width: .4em;
			height: .4em;
			display: block;
			position: absolute;
			left: -1.3em;
			top: 0;
			bottom: 0;
			margin: auto;
			transform: rotate(135deg);
			border-top: 1px solid currentColor;
			border-right: 1px solid currentColor;
		}


.select_box {
  position: inherit;
  padding: 20px 0 16px;
  background: inc.$theme-color-lightyellow;
  @include inc.mq(tab) {
    position: absolute;
    top:26px;
    left:0;
    width: 100%;
    padding: 10px 0 16px;
    border-radius: 6px;
  }
}
.select_box li {
  cursor: default;
}
.select_box li + li {
  margin-top: 16px;
}
html:lang(auto) .display_selectedItem2::after {
  content:" : 日本語"
}
html:lang(ja) .display_selectedItem2::after {
  content:" : 日本語"
}
html:lang(en) .display_selectedItem2::after {
  content:" : English"
}
html:lang(zh-TW) .display_selectedItem2::after {
  content:" : 繁體字"
}
html:lang(zh-CN) .display_selectedItem2::after {
  content:" : 简体字"
}
html:lang(ko) .display_selectedItem2::after {
  content:" : 한국어"
}