@charset 'UTF-8';

/*
i-setting
-----------------------------------------------------*/

//====================================
//  Viewport
//====================================
// Contentの幅
$content-width: 375px !default;
// ブレークポイントの設定
$breakpoints: (
  sps: 320px,
  sp: 375px,
  wsp: 520px,
  min: 620px,
  tab: 768px,
  lap: 960px,
  desk: 1280px,
  vr: 1366px,
  wide: 1440px,
  //full: 1568px,
  full: 1630px,
);

//====================================
//  Color
//====================================

// ベースカラー　背景色
$base-color: #FFF;

$theme-color-black: #000;

$theme-color-gray: #999999;
$theme-color-yellow: #E8E8D8;
$theme-color-lightyellow: #F8F8F0;
$theme-color-darkyellow: #B5B583;
$theme-color-gold: #93936A;

$theme-color-darkgreen:  #192203;

$main-text-color: #000;

$border-color-yellow: #E8E8D6;

//====================================
//  リンクカラー
//====================================
// a, img, a img {
//   border:none;
//   outline:none;
//   text-decoration: none;
//   color: #000;
// }

//====================================
//  Typeface
//====================================

//$font-set-primary: TsukuMinPr6N-L;
$font-set-primary: fot-tsukumin-pr6n;
$font-set-en: 'Poppins', sans-serif;
