@charset 'UTF-8';
@use "../../inc/" as inc;
/*
display
-----------------------------------------------------*/
.c-display-block {
  display: block;
}

.c-display-flex {
  display: flex;
  flex-wrap: wrap;
  &.-between {
    justify-content: space-between;
  }
}